
<%= render 'product_header' %>
<div class="container">
<%= render 'form', product: @product %>


<div class="btn-group">
    <%= link_to 'Mostrar', @product, :class => "btn btn-info", :type =>"button"%> 
    <%= link_to 'Atrás', products_path , :class => "btn btn-info", :type =>"button" %>
</div>
<%= render 'product_footer' %>
</div>


